.header{
    position: relative;
    background: url("../../assets/frontend_assets/header_img.png") no-repeat;
    background-size: contain;
    height: 34vw;
    margin: 30px auto;
}
.header-text{
    position: absolute;
    color: white;
    font-size: 1.5em;
    top:30%;
    left: 10%;
    animation: FadeIn 3s;
}
.header-text h3{
    font-size: 3em;
    font-weight: 700;
}.header-text button{
    border: none;
    margin-top: 20px;
    padding: 15px 50px;
    border-radius: 20px;
    cursor: pointer;
}
