.header{
    position: relative;
    background: url("../../assets/frontend_assets/header_img.png") no-repeat;
    background-size: contain;
    height: 34vw;
    margin: 30px auto;
}
.header-text{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: FadeIn 3s;
}
.header-text h2{
    font-size: max(4.5vw,22px);
    font-weight: 500;
}
.header-text p{
    color: white;
    font-size: 1vw;
}
.header-text button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    border-radius: 50px;
    font-size: max(1vw,13px);
    cursor: pointer;
}
